html{
    overflow-y:scroll;
    width:100vw;
    height:100vh;
}
*{
    /* border: 1px solid black; */
    margin:0;
}
body{
    margin:0;
}
a{
    text-decoration: none;
    color:black;  
}

div{
    width:max-content;
}

.navbar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 0.5px solid #444444;
}

.left{
    font-size: 24px;
    height: fit-content;
}

.center li{
    margin-left:50px;
}

.center{
    display:flex;
    list-style: none;
    padding: 0px 30px;
}


.right{
    display:flex;
    justify-content: space-between;
}

#sign{
    width: 20;
    color:blue;
    border-radius: 30%;
    margin-left: 10px;
    border: none;
    background:white;

}
#service{
    margin-left:20px; 
    border: none;
}
/* navbar 끝 */

.img{
    width:100%;
    padding:25px 0px 0px;
    /* display: flex; */
    /* justify-content: center; */
}

.imgbar{
    margin: 0 auto;
    text-align: center;
} 

/* img 끝 */


.sec_first{

    border-bottom:1px solid #444444;
    width: 100vw;
}


.title_bar{
    margin: 40px auto;
    display: flex;
}


.bar{
    text-align: center;
    margin: 20px auto;
}

.bar button{
    padding: 9px 22px;
    border: 1px solid #e1e2e3;
}
.btnb{
    font-size: 15px;
    width: 100%;
    /* font-size: inherit;
    font-weight: inherit;
    display: inherit; */
}

#btna{
    width: 40px;
    height: 40px;
    border: 1px solid #e1e2e3;
    border-radius : 50%
}
#btnd{
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e2e3;

}

/* 나에게 필요한 커리어 인사이트 버튼 속성 지정 끝 */

.wrapper {
    height: 716px;
    margin: 0 auto;
}

.site{
    width: 1080px;
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
}

.site li{
    width:250px;
    margin:0px 10px;
} 

.site p{
    width: 250px;
    height: 42px;
    overflow: hidden;
}
img {
    width: 250px;
    height: 175px;
    object-fit: cover;
}

#more{
    width:345px;
    height: 50px;
    padding:0px 27px;
    width:300px;
    margin:0px 325px;
    border-radius: 30px;
    background-color: white;
}

/* .sec_first 끝 */

.sec_second{
    width:100vw;
    height: 400px;
    padding: 60px 0px;
    border-bottom:1px solid #444444;
}

.title{
    text-align: center;
    margin: 40px auto;
}
    

.wrapper_second{
    margin: 0 auto;
}

.article{
    width:1060px;
    height: 360px;
    display: flex;
    list-style: none;
}

.article li{
    width:270px;
    height: 290px;
    margin:0px 10px;
} 

.article p{
    width: 250px;
    height: 42px;
    overflow: hidden;
}

/* img {
    width: 250px;
    height: 175px;
    object-fit: cover;
} */

/* .sec_second 끝 */

.sec_thrid{
    width:100vw;
    height: 400px;
    padding: 60px 0px;
    border-bottom:1px solid #444444;
}

.title{
    margin: 40px auto;
    
}

.wrapper_thrid{
    margin: 0 auto;
}

.VOD{
    width:1060px;
    height: 360px;
    display: flex;
    list-style: none;
}

.VOD li{
    width:270px;
    height: 290px;
    margin:0px 10px;
} 

.VOD p{
    width: 250px;
    height: 42px;
    overflow: hidden;
}

img {
    width: 250px;
    height: 175px;
    object-fit: cover;
}

 

/* .sec_thrid 끝 */

/* 
div{
    width:max-content;
    height: 200;
}

.content{
    text-align: center;
    width: max-content;
    height: max-content;
    background-color: blue;
} */